/*
font-family: 'Cormorant Garamond', serif; Para Contenido.
font-family: 'Montserrat Alternates', sans-seri; Para Titulos.
*/

* {
    margin: 0;
    padding: 0;
}


body{
    background-color: darkgray;
}

.titulo{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    background-image: url("../Images/Fondo4.jpg");
    background-position: center;
    background-size: cover;
}

.titulo h1{
    font-family: 'Montserrat Alternates', sans-seri;
    font-size: 40px;
    padding-top: 10%;
    color: antiquewhite;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:10% 0;
}

#logo{
    border-radius: 100%;
    opacity: 0.9;
    
}
h1{
    padding: 0% 15%;
    color: seashell;
    font-weight: bold;
    font-family: 'Montserrat Alternates', sans-seri; 
    
}

h2{
    color: rgb(245, 241, 241);
    font-family: 'Cormorant Garamond', serif;
    
}

h3{
    color: rgb(245, 241, 241);
    font-family: 'Cormorant Garamond', serif;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}


.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5% 15%;
    background-image: url("../Images/Fondo2.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
}

#about h2{
    color: rgb(245, 241, 241);
    font-family: 'Cormorant Garamond', serif;
    border: 0px;
    margin:50px;
}

#about p{
    color: rgb(245, 241, 241);
    font-family: 'Cormorant Garamond', serif;
    margin: 25px;
    padding-top:10% ;
}

#perfil{
    border-radius: 50%;
}

#propuestas{
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../Images/Sogas1.jpg");
    background-position: center;
    background-size: cover;
   
}

.propuesta{
    width: 50%;
    border-radius: 10 px solid darkslategrey;
    align-items: center;
}
a.propuesta:link, a.propuesta:visited{
    color: white;
    border: 10px solid darkslategrey;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor:pointer
}

a.propuesta:hover, a.propuesta:active{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    cursor:pointer
}

#rutinas{
    background-color: dimgrey;
    padding: 0%;
   
}

.padre-rutinas{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.rutina-hija{
    align-items: center;
    position: relative;
    margin-left: 0%;
    margin-right: 0%;
    width: 35%;
  
}


.rutina-hija img{
    border: 5px solid thistle;
    width: 100%;
    height: 100%;
    filter: blur(1px) grayscale(0.5);    
}

.rutina-hija .contenido{
    position: absolute;
    z-index: 1;
    bottom:50%;
    left: 25%;
    right: 25%;
    text-align: center;
}

.rutina-hija .contenido h3{
    font-family: 'Montserrat Alternates', sans-seri;
    font-size: 50px;
}

.rutina-hija .contenido p{
    font-family: 'Cormorant Garamond', serif;
    font-size:20px;
    color: antiquewhite;
}
.foto{
    border:10px solid floralwhite ;
    border-radius: 50px;
}

#formulario{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    border: 5px solid rgb(89, 26, 172);
    border-radius: 0%;
}

footer{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    background-color: coral;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.elementosNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.elementosNav li{
    margin: 5px 20px;
}

.elementosNav a:hover{
    color: white;
    text-align: center;
    text-decoration: underline antiquewhite;
    cursor:pointer;
    
}

input[type=text]:focus{
    background-color: lightblue;
}
