/*
font-family: 'Cormorant Garamond', serif; Para Contenido.
font-family: 'Montserrat Alternates', sans-seri; Para Titulos.
*/

* {
    margin: 0;
    padding: 0;
}


body{
    background-color: darkgray;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("../Images/Fondo6.jpg");
    background-position: center;
    background-size: cover;
}

.titulo h1{
    font-family: 'Montserrat Alternates', sans-seri;
    font-size: 40px;
    padding-top: 10%;
    color: antiquewhite;
}
#logo{
    border-radius: 100%;
    opacity: 0.9;
}
h1{
    color: indigo;
    font-family: 'Montserrat Alternates', sans-seri; 
    
}

h2{
    color: rgb(245, 241, 241);
    font-family: 'Cormorant Garamond', serif;
    
}

h3{
    color: rgb(245, 241, 241);
    font-family: 'Cormorant Garamond', serif;
}

li{
    list-style: none;
}

li a{
    text-decoration: none;
    font-size: 20px;
}


.hero{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url("../Images/Fondo2.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
}

#about h2{
    color: rgb(245, 241, 241);
    font-family: 'Cormorant Garamond', serif;
    border: 0px;
    margin:50px;
}

#about p{
    color: rgb(245, 241, 241);
    font-family: 'Cormorant Garamond', serif;
    margin: 25px;
    padding-top:10% ;
}

#perfil{
    border-radius: 50%;
}

#propuestas{
    padding-top: 100px;
    padding-bottom: 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../Images/Sogas1.jpg");
    background-position: center;
    background-size: cover;
   
}

a.propuesta:link, a.propuesta:visited{
    color: white;
    border: 10px solid darkslategrey;
    border-radius: 10px;
    margin-top: 10px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor:pointer
}

a.propuesta:hover, a.propuesta:active{
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    cursor:pointer
}

#rutinas{
    background-color: dimgrey;
   
}

.padre-rutinas{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-top: 20px;
    width: 100%;
}

.rutina-hija{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    width: 100%;
}




.foto{
    border:10px solid floralwhite ;
    border-radius: 50px;
}

#formulario{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    border: 5px solid rgb(89, 26, 172);
    border-radius: 0%;
}

footer{
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    background-color: coral;
}

.navbar{
    border: 10px solid black;
    border-radius: 10px
}

.elementosNav{
    display: flex;
    justify-content: space-around;
}

.elementosNav a:link, a:visited{
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor:pointer
}

.elementosNav a:hover, a:active{
    background-color: green;
    color: white;
    cursor:pointer
}

input[type=text]:focus{
    background-color: lightblue;
}
